<section data-id="{{product.id}}">
    <h1> {{product.name}} <span class="product-id">#{{product.id}}</span></h1>

    <h2>Marca: {{product.brand}}</h2>
    <p>Precio: ${{product.price}}</p>
    <ul>
        <li>Stock: {{product.stock}}</li>
        <li>Categoría: {{product.category}}</li>
        <li>Descripción corta: {{product.shortDescription}}</li>
        <li>Descripción larga: {{product.longDescription}}</li>
        <li>Envío gratis: {{product.freeShipping}}</li>
    </ul>

</section>
